################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VacaYAY/DataAccesLayer/bin/Debug/net8.0/DataAccesLayer.dll
/VacaYAY/DataAccesLayer/bin/Debug/net8.0/DataAccesLayer.pdb
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.AssemblyInfo.cs
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.AssemblyInfoInputs.cache
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.dll
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.pdb
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.sourcelink.json
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/ref/DataAccesLayer.dll
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/refint/DataAccesLayer.dll
/VacaYAY/PresentationLayer/bin/Debug/net8.0/DataAccesLayer.dll
/VacaYAY/PresentationLayer/bin/Debug/net8.0/DataAccesLayer.pdb
/VacaYAY/PresentationLayer/bin/Debug/net8.0/PresentationLayer.dll
/VacaYAY/PresentationLayer/bin/Debug/net8.0/PresentationLayer.exe
/VacaYAY/PresentationLayer/bin/Debug/net8.0/PresentationLayer.pdb
/VacaYAY/PresentationLayer/obj/Debug/net8.0/apphost.exe
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.AssemblyInfo.cs
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.AssemblyInfoInputs.cache
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.csproj.AssemblyReference.cache
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.dll
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.pdb
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.sourcelink.json
/VacaYAY/PresentationLayer/obj/Debug/net8.0/ref/PresentationLayer.dll
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.AssemblyInfo.cs
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.AssemblyInfoInputs.cache
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.dll
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.pdb
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.sourcelink.json
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/refint/DataAccesLayer.dll
/VacaYAY/PresentationLayer/bin/Debug/net8.0/DataAccesLayer.dll
/VacaYAY/PresentationLayer/bin/Debug/net8.0/DataAccesLayer.pdb
/VacaYAY/PresentationLayer/bin/Debug/net8.0/PresentationLayer.dll
/VacaYAY/PresentationLayer/bin/Debug/net8.0/PresentationLayer.exe
/VacaYAY/PresentationLayer/bin/Debug/net8.0/PresentationLayer.pdb
/VacaYAY/PresentationLayer/obj/Debug/net8.0/apphost.exe
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.AssemblyInfo.cs
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.AssemblyInfoInputs.cache
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.csproj.AssemblyReference.cache
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.dll
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.pdb
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.sourcelink.json
/VacaYAY/PresentationLayer/obj/Debug/net8.0/ref/PresentationLayer.dll
/VacaYAY/PresentationLayer/obj/Debug/net8.0/refint/PresentationLayer.dll
/VacaYAY/DataAccesLayer/bin/Debug/net8.0/DataAccesLayer.dll
/VacaYAY/DataAccesLayer/bin/Debug/net8.0/DataAccesLayer.pdb
/VacaYAY/PresentationLayer/Program.cs
/VacaYAY/DataAccesLayer/Configuration/EmployeeConfiguration.cs
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/ref/DataAccesLayer.dll
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VacaYAY/FileContentIndex/cff03917-2534-4c1c-a881-6e3d26952600.vsidx
/.vs/VacaYAY/v17/.wsuo
/.vs/VacaYAY/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/VacaYAY/DataAccesLayer/obj/DataAccesLayer.csproj.nuget.dgspec.json
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.assets.cache
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.GeneratedMSBuildEditorConfig.editorconfig
/VacaYAY/DataAccesLayer/obj/project.assets.json
/VacaYAY/DataAccesLayer/obj/project.nuget.cache
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.assets.cache
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.GeneratedMSBuildEditorConfig.editorconfig
/VacaYAY/PresentationLayer/obj/PresentationLayer.csproj.nuget.dgspec.json
/VacaYAY/PresentationLayer/obj/project.assets.json
/VacaYAY/PresentationLayer/obj/project.nuget.cache
/.vs/VacaYAY/v17/.wsuo
/.vs/VacaYAY/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/VacaYAY/DataAccesLayer/obj/DataAccesLayer.csproj.nuget.dgspec.json
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.assets.cache
/VacaYAY/DataAccesLayer/obj/Debug/net8.0/DataAccesLayer.GeneratedMSBuildEditorConfig.editorconfig
/VacaYAY/DataAccesLayer/obj/project.assets.json
/VacaYAY/DataAccesLayer/obj/project.nuget.cache
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.assets.cache
/VacaYAY/PresentationLayer/obj/Debug/net8.0/PresentationLayer.GeneratedMSBuildEditorConfig.editorconfig
/VacaYAY/PresentationLayer/obj/PresentationLayer.csproj.nuget.dgspec.json
/VacaYAY/PresentationLayer/obj/project.assets.json
/VacaYAY/PresentationLayer/obj/project.nuget.cache
