@using static DataAccesLayer.Entities.Enums
@model BusinessLogicLayer.Dto.EmployeeDto.EmployeeForRegistrationDto

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Create an account</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Role" class="control-label"></label>
                        <select asp-for="Role" class="form-control">
                            <option value="">Select Role</option>
                            @foreach (var role in Enum.GetValues(typeof(Roles)).Cast<Roles>())
                            {
                                if(role == Roles.None)
                                {
                                    continue;
                                }
                                <option value="@role">@role</option>
                            }
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="EmploymentStartDate" class="control-label"></label>
                        <input asp-for="EmploymentStartDate" class="form-control" />
                        <span asp-validation-for="EmploymentStartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="IDNumber" class="control-label"></label>
                        <input asp-for="IDNumber" class="form-control" />
                        <span asp-validation-for="IDNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="DaysOffNumber" class="control-label"></label>
                        <input asp-for="DaysOffNumber" class="form-control" />
                        <span asp-validation-for="DaysOffNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="PositionId" class="control-label"></label>
                        <select asp-for="PositionId" class="form-control">
                            <option value="">Select Position</option>
                            @await Component.InvokeAsync("PositionsDropdown")
                        </select>
                        <span asp-validation-for="PositionId" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="EmploymentEndDate" class="control-label"></label>
                        <input asp-for="EmploymentEndDate" class="form-control" />
                        <span asp-validation-for="EmploymentEndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
