@using DataAccesLayer.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> signInManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity!.Name
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-area="" asp-action="Logout" asp-controller="Employee">
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Login">Login</a>
        </li>
    }
</ul>