<div class="container">
    <div>
        <h1 class="text-danger">Oops :(</h1>
        <h2 class="text-danger">Your request couldn't be processed.</h2>

        <div class="mt-4">
            <h2><em>"@ViewData["errormessage"]"</em></h2>
        </div>
        <div class="mt-3">
            <a asp-action="@ViewData["action"]" asp-controller="@ViewData["controller"]" class="btn btn-primary">Go Back <i class="fa-solid fa-right-from-bracket ms-2"></i></a>
        </div>
    </div>
</div>
